In [4]:
import pandas as pd

In [2]:
# load ordering data
with open("ordering.txt") as f:
    ordering = f.readlines()

ordering = [x.strip() for x in ordering]
ordering = [x.split("|") for x in ordering]

In [64]:

ordering_rules = pd.read_csv("ordering.txt", sep="|", header=None, names=["before", "after"])

In [65]:
ordering_rules

      before  after
0         12     91
1         25     68
2         25     41
3         41     34
4         41     45
...      ...    ...
1171      23     54
1172      23     32
1173      42     49
1174      42     54
1175      91     37

[1176 rows x 2 columns]

In [66]:
rules_after = ordering_rules.groupby("before")["after"].apply(list)

In [67]:
rules_before = ordering_rules.groupby("after")["before"].apply(list)

In [73]:
rules_after.head()

before
12    [91, 38, 15, 22, 81, 89, 68, 41, 82, 76, 14, 6...
13    [29, 25, 57, 35, 31, 81, 73, 42, 14, 19, 91, 8...
14    [93, 34, 38, 55, 41, 78, 83, 97, 94, 68, 82, 1...
15    [37, 35, 41, 76, 62, 95, 83, 55, 68, 34, 73, 2...
16    [32, 13, 29, 87, 85, 42, 89, 19, 97, 71, 12, 2...
Name: after, dtype: object

In [74]:
rules_after.apply(len)

before
12    24
13    24
14    24
15    24
16    24
18    24
19    24
22    24
23    24
24    24
25    24
27    24
28    24
29    24
31    24
32    24
34    24
35    24
37    24
38    24
41    24
42    24
45    24
49    24
52    24
53    24
54    24
55    24
57    24
58    24
62    24
68    24
71    24
73    24
76    24
78    24
81    24
82    24
83    24
84    24
85    24
87    24
89    24
91    24
93    24
94    24
95    24
96    24
97    24
Name: after, dtype: int64

In [71]:
rules_before.index

Index([12, 13, 14, 15, 16, 18, 19, 22, 23, 24, 25, 27, 28, 29, 31, 32, 34, 35,
       37, 38, 41, 42, 45, 49, 52, 53, 54, 55, 57, 58, 62, 68, 71, 73, 76, 78,
       81, 82, 83, 84, 85, 87, 89, 91, 93, 94, 95, 96, 97],
      dtype='int64', name='after')

In [95]:
# some function to find the order of the pages
def find_order(pages: list, ordering_rules: pd.DataFrame) -> list:
    pages = pages.copy()
    changed = True
    while changed:
        changed = False
        for i in range(len(pages)):
            for j in range(i + 1, len(pages)):
                page1, page2 = pages[i], pages[j]
                if page2 in ordering_rules.get(page1, []):
                    continue
                if page1 in ordering_rules.get(page2, []):
                    # swap the pages
                    pages[i], pages[j] = pages[j], pages[i]
                    changed = True
                    break
    return pages

In [97]:
# loading updates
with open("updates.txt") as f:
    updates = f.readlines()

updates = [[int(i) for i in x.strip().split(",")] for x in updates]

In [107]:
middle_number_sum = 0

for update in updates:
    sorted_update = find_order(update, rules_after)
    if update == sorted_update:
        middle_i = int((len(update) - 1)/2)
        middle_number_sum += update[middle_i]

print(middle_number_sum)

3608

In [106]:
# getting the sum of middle numbers of incorrectly sorted lists
# after they were sorted

middle_number_sum_corrected = 0

for update in updates:
    sorted_update = find_order(update, rules_after)
    if update != sorted_update:
        middle_i = int((len(sorted_update) - 1)/2)
        middle_number_sum_corrected += sorted_update[middle_i]

print(middle_number_sum_corrected)

4922